p{
  font-family: $paragraphs-font-family;
  font-weight: $paragraphs-font-weight;
  line-height: $paragraphs-line-height;
  color: $paragraphs-color;
}
body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}