$navbar-top-border:        3px;


$paragraphs-font-family:    "PlayfairDisplay" !default;
$paragraphs-font-weight:    400 !default;
$paragraphs-line-height:    1.1 !default;
$paragraphs-color:          inherit !default;

