$navbar-top-border:        3px;

$paragraphs-font-family:    "Playfair Display" !default;
$paragraphs-font-weight:    400 !default;
$paragraphs-line-height:    1.1 !default;
$paragraphs-color:          inherit !default;

$button-without-border-radius:  0px;
$slider-dot-size: 13px;
$slider-nav-position: 0%;
$subtitle-color:           #666;
$social-media-color:       #9D9D9D;
$subscribe-text-color:     #FFF;
$navbar-text-color:        #FFF;
$body-other-bg:            #F9F9F9;
