.header-blog-list{
  font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
  .header-content{
    background: rgba(0,0,0,.65);
    max-width: 850px;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
  }
  .title-blog-list{
    font-size: 35px;
    margin: 0;
    text-align: center;
    margin-bottom: 15px;
  }
}
.amp-wp-blog{
  font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
  padding: 0 20px;
  .blog-item{
    .heading-underline__title{
      a{
        text-decoration: none;
        color: inherit;
        font-size: 16px;
        &:hover{
          text-decoration: underline;
        }
      }
      margin-bottom: 32px;
      font-size: 25px;
      &:after{
        content: '';
        display: block;
        width: 80px;
        height: 3px;
        background: #0f3a78;
        margin-top: 5px;
      }
    }
    .entry-meta{
      font-size: 15px;
      .entry-meta__item{
        display: block;
        &.entry-meta__item--right{
          a{
            color: inherit;
            text-decoration: none;
            &:hover{
              text-decoration: underline;
            }
          }
        }
        &.author{
          a::first-letter{
            text-transform: uppercase;
          }
          a{
            color: inherit;
            text-decoration: none;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  hr{
    border-style: dashed;
    border: 0;
    border-top: 1px dashed;
    border-top-color: #bcbcbc;
  }
}
.paginator{
  margin-top: 25px;
  clear: both;
  display: block;
  .next,
  .older{
    color: inherit;
    font-weight: 300;
    margin: 0 5px;
    border-radius: 25px;
    padding: 15px 20px;
    text-align: center;
    border: 1px solid #ddd;
    text-decoration: none;
    &:hover{
      background-color: #eee;
      border-color: #ddd;
    }
  }
  .next{
    &:after{
      content: '>>';
      display: inline-block;
      margin-left: 5px;
      font-size: 12px;
    }
  }
  .older{
    &:before{
      content: '<<';
      display: inline-block;
      margin-right: 5px;
      font-size: 12px;
    }
  }
}