@import "components/footer";
.footer{
  &__info, &__phone{
    margin: 0 10px;
  }
  &__logo{
    float: left;
    margin-right: 25px;
  }
  &__info{
    float: left;
  }
  &__address{
    display: block;
    margin-bottom: 10px;
  }
  &__phone{

  }
  &__right{
    margin-left: auto;
    float: right;
  }
  @media (min-width: $screen-sm-min){
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
  }
  @media (min-width: $screen-lg-min){
    &__info{
      position: relative;
      max-width: 30%;
    }
  }
  @media (max-width: $grid-float-breakpoint) {
    &__logo{
      float: none;
      margin: 0px;
      text-align: center;
    }
    &__info{
      float: none;
      text-align: center;
      margin-top: 10px;
    }
    &__phone{
      position: relative;
      text-align: center;
      margin-top: 10px;
    }
    &__right{
      float: none;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    &__socialmedia{
      text-align: center;
    }
    &__copyright{
      text-align: center;
    }
  }
  @media (max-width: $screen-xs-max){
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
    &__info, &__btn{
      margin-top: 15px;
    }
    &__btn{
      margin-bottom: 25px;
    }
  }
}
// Sticky footer styles here
/*
 * Flex method
 */
// html {
//   height: 100%;
// }
// body {
//   min-height: 100%;
//   display: flex;
//   flex-direction: column;
// }
// .wrap {
//   flex: 1;
// }
/*
 * Other method
 */
html, body {
  height: 100%;
  margin: 0;
}
.document {
  min-height: 100%;
}
