@import "components/navbar";
@import "components/socialmedia";
.header{
  background: -webkit-linear-gradient(rgba(#000, .6), transparent);
  background: -o-linear-gradient(rgba(#000, .6), transparent);
  background: linear-gradient(rgba(#000, .6), transparent);
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 2;
  .navbar{
    background-color: transparent;
  }
}
// Workaround for Wordpress admin bar
.logged-in .header {
    margin-top: 32px;
}