%widget-list-item{
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top-width: 1px;
  font-family: 'Montserrat';
  font-size: 16px !important;
  font-weight: 300;
  padding: 1.3rem 0;
}
.widget{
  ul{
    list-style-type: none;
    padding-left: 0;
    li{
      @extend .divider--list, %widget-list-item;
      a{
        color: inherit;
      }
    }
  }
}
.widget_search{
  .screen-reader-text{
    display: none;
  }
  .search-field{
    border: 1px solid #ddd;
    color: #999;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 300;
    height: 38px;
    padding: 15px;
  }
  .search-submit{
    background-color: $brand-primary;
    border: 1px solid $brand-primary;
    height: 38px;
    color: #fff;
  }
}
.tagcloud{
  a{
    display: block;
    color: inherit;
    @extend .divider--list, %widget-list-item;
  }
}