.bg-primary{
  background-color: $brand-primary;
  @include text-contrast($brand-primary);
}
.bg-medium{
  background: $body-other-bg;
  @include text-contrast($body-other-bg);
}
.bg-light{
  background: #FFF;
  @include text-contrast(#FFF);
}
.bg-dark{
  background: $navbar-inverse-bg;
  @include text-contrast($navbar-inverse-bg);
}
.bg-image{
  @include responsive-bg;
}
.bg-shadow{
  background-color: rgba(0,0,0,.5);
  &--box{
    padding: 20px 50px 30px;
  }
}
.bg-cover{
  &:before{
    content: '';
    background: url('../images/content-bg-cover.png');
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
.filter-image{
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
}
.subscribe{
  z-index: 999999;
  position: relative;
}