.breadcrumb{
  border-radius: 0;
  margin-bottom: 50px;
  .no-margin &{
    margin-bottom: 0;
  }
  @media (max-width: $screen-sm-max){
    padding: 20px 0;
  }
  @media (min-width: $screen-md-min){
    padding: 40px 0;
  }
  &.sticky-header{
    @media (min-width: $screen-lg-desktop) {
      padding-top: 99px;
    }
    @media (max-width: $screen-md-max) {
      padding-top: 89px;
    }
  }

  &__item--active{
    display: block;
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
    @media (max-width: $screen-xs-max){
      text-align: center;
    }
  }
}

#breadcrumbs{
  list-style:none;
  padding-left: 0;
  
  li{
    display:inline-block;
    vertical-align:middle;
    margin-right:15px;
    @media (max-width: $screen-xs-max){
      display: none;
    }
    a{
      color: inherit;
    }
    &:last-child{
      word-wrap: normal;
      @extend .breadcrumb__item--active;
    }
  }
  .separator{
    font-size:18px;
    font-weight:100;
    color: inherit;
  }
  @media(max-width: $screen-xs-min){
    li{
      &:last-child{
        line-height: 30px;
        margin: 0px;
        .bread-current.bread-cat{
          font-size: 35px;
          word-wrap: break-word;
        }
      }
    }
  }
}