.btn-default-outline {
  @include button-variant-outline($btn-default-color, $btn-default-bg, $btn-default-bg);
}
.btn-primary-outline {
  @include button-variant-outline($btn-primary-color, $btn-primary-bg, $btn-primary-bg);
}
// Success appears as green
.btn-success-outline {
  @include button-variant-outline($btn-success-color, $btn-success-bg, $btn-success-bg);
}
// Info appears as blue-green
.btn-info-outline {
  @include button-variant-outline($btn-info-color, $btn-info-bg, $btn-info-bg);
}
// Warning appears as orange
.btn-warning-outline {
  @include button-variant-outline($btn-warning-color, $btn-warning-bg, $btn-warning-bg);
}
// Danger and error appear as red
.btn-danger-outline {
  @include button-variant-outline($btn-danger-color, $btn-danger-bg, $btn-danger-bg);
}

// Improvements for button when the section have bg-primary background.
.bg-primary{
  .btn{
    background-color: contrast_function($brand-primary)  !important;
    @include text-contrast(contrast_function($brand-primary));
    &:focus,
    &.focus {
      background-color: darken(contrast_function($brand-primary), 5%);
      border-color: darken(contrast_function($brand-primary), 15%);
    }
    &:hover {
      background-color: darken(contrast_function($brand-primary), 5%);
      border-color: darken(contrast_function($brand-primary), 10%);
    }
  }
}
.btn-podcast{
  margin-top: 0;
  padding-bottom: 7px;
  padding-top: 7px;
  border-radius: 0;
  font-weight: 700;
  border-width: 3px;
  border-color: #262441;
  border-style: solid;
  color: #262441;
  font-size: 20px;
  line-height: 1.2;
  background-color: transparent;
  &:hover{
    border-color: #ee4729;
    color: #ee4729;
  }
}



.btn-primary-withoutborder{
  @extend .btn;
  @extend .btn-primary;
  border-radius: $button-without-border-radius;
}
.btn-default-withoutborder{
  @extend .btn;
  @extend .btn-default;
  border-radius: $button-without-border-radius;
}
.btn-info-withoutborder{
  @extend .btn;
  @extend .btn-info;
  border-radius: $button-without-border-radius;
}
.btn-success-withoutborder{
  @extend .btn;
  @extend .btn-success;
  border-radius: $button-without-border-radius;
}
.btn-danger-withoutborder{
  @extend .btn;
  @extend .btn-danger;
  border-radius: $button-without-border-radius;
}
.btn-warning-withoutborder{
  @extend .btn;
  @extend .btn-warning;
  border-radius: $button-without-border-radius;
}
.btn-primary-outline-withoutborder{
  @extend .btn;
  @extend .btn-primary-outline;
  border-radius: $button-without-border-radius;
}
.btn-default-outline-withoutborder{
  @extend .btn;
  @extend .btn-default-outline;
  border-radius: $button-without-border-radius;
}
.btn-info-outline-withoutborder{
  @extend .btn;
  @extend .btn-info-outline;
  border-radius: $button-without-border-radius;
}
.btn-success-outline-withoutborder{
  @extend .btn;
  @extend .btn-success-outline;
  border-radius: $button-without-border-radius;
}
.btn-danger-outline-withoutborder{
  @extend .btn;
  @extend .btn-danger-outline;
  border-radius: $button-without-border-radius;
}
.btn-warning-outline-withoutborder{
  @extend .btn;
  @extend .btn-warning-outline;
  border-radius: $button-without-border-radius;
}
