.contact-form{
  &__div{
  }
  &__label{
    font-weight: 200;
  }
  &__input,
  &__textarea{
    border-radius: $button-without-border-radius;
  }
}
.form-field{
  input, textarea{
    border-radius: 0 !important;
    box-shadow: none !important;
  }
}
.frm-show-form{
  .form-field{
    @extend .form-group, .form-group-sm;
  }
  input:not([type=submit]), textarea{
    @extend .form-control;
  }
  input[type=submit]{
    @extend .btn, .btn-primary-withoutborder;
  }
}
