$color: rgb(45, 42, 89);
.event{
  border-width: 1px;
  border-color: rgb(227, 227, 227);
  border-style: solid;
  background-color: rgb(249, 249, 249);
  overflow: hidden;
  .featured{
    text-align: center;
    background-color: $color;
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    &:after{
      content: "";
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid $color;
      position: absolute;
      right: -20px;
    }
    .wrapper{
      margin-left: auto;
      margin-right: auto;
      .title, .link{
        margin: 10px 0;
      }
      .title{
        font-size: 24px;
        font-weight: bold;
        line-height: 1;
        span{
          display: block;
          color: contrast_function($color);
        }
      }
      .link{
        font-size: 12px;
        line-height: 1.2;
        a{
          font-size: inherit;
          color: contrast_function($color);
        }
      }
    }
  }
  .wrapper{
    .datetime{
      text-align: center;
      padding: 25px 0;
      span{
        display: block;
        line-height: 1.2;
        font-size: 14px;
        &.date-1{
          font-size: 30px;
          font-weight: bold;
        }
      }
    }
    .complete-info{
      padding-right: 15px;
      span{
        display: block;
      }
      .title{
        font-size: 22px;
        font-weight: bold;
        line-height: 1.2;
      }
      .location-info{
        font-size: 16px;
        font-weight: bold;
        line-height: 1.2;
      }
      .description{
        font-size: 16px;
        line-height: 1.2;
      }
    }
  }
}

@media(min-width:$screen-sm-max){
  .event{
    .row{
      margin-left: 0;
      position: relative;
      .featured{
        position: absolute;
        top: 0;
        bottom: 0;
      }
    }
  }
}


// Test it

.row.vertical-divider {
  overflow: hidden;
}
.row{
  .vertical-divider {
    border-left: 3px solid rgb(253, 210, 8);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
  }
}
