.footer{
  color: lighten($navbar-inverse-bg, 28.5%);
  &__logo{
    &__img{
        height: auto;
      @media (min-width: $screen-sm-min){
        max-width: 100%;
        width: 150px;
      }
      @media (max-width: $screen-xs-max){
        min-width: 5rem;
        max-width: 100px;
      }
    }
  }
  &__info{
  }
  &__info &__text, &__info &__link, &__info &__icon{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
  }
  &__info &__icon{
    color: $brand-primary;
    margin-right: 5px;
    &--3x{
      font-size: 3em;
      @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        font-size: 3vw;
      }
    }
    &--2x{
      font-size: 2em;
      @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        font-size: 2vw;
      }
    }
  }
  &__info &__link{
    color: #fff;
    &:hover{
      color: #fff;
    }
  }
  &__text{
    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max){
      font-size: 1.25vw;
    }
  }
  &__text{
    &--light{
      color: lighten($navbar-inverse-bg, 53.5%);
    }
  }
  &__socialmedia{
    @media (min-width: $screen-sm-min){
      text-align: right;
    }
    .socialmedia__block{
      font-size: 30px;
      margin-top: 0;
      margin-bottom: 0;
      margin: 0px;
      @media (max-width: 576px){
        font-size: 20px;
      }
    }
    .socialmedia__link{
      @media (max-width: 576px){
        padding: 0 8px;
      }
      @media (min-width: 577px){
        padding: 1rem;
      }
    }
    .socialmedia__item{
      display: inline-block;
    }
  }
  &__copyright{
    clear: both;
    .text-secondary{
      display: block;
    }
    @media (max-width: $screen-xs-max){
      text-align: center;
      font-size: 90%;
    }
    @media (min-width: $screen-sm-min){
      text-align: right;
    }
  }
  .logo-name{
    font-size: 28px;
  }
}
