.footer{
  position: relative;
  color: lighten($navbar-inverse-bg, 28.5%);
  >.row{
    position: relative;
  }
  &__logo{
    &__img{
        height: auto;
      @media (min-width: $screen-sm-min){
        width: auto;
        max-height: 55px;
      }
      @media (max-width: $screen-xs-max){
        width: auto;
        max-height: 70px;;
      }
    }
  }
  &__footer-background{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
  &__info{
  }
  &__info &__text, &__info &__link, &__info &__icon{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
  }
  &__info &__link{
    &:hover, &:focus{
      text-decoration: none;
      .footer__text{
        text-decoration: underline;
      }
    }
  }
  &__info &__icon{
    color: $brand-primary;
    margin-right: 5px;
    &--3x{
      font-size: 3em;
      @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        font-size: 3vw;
      }
    }
    &--2x{
      font-size: 2em;
      @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        font-size: 2vw;
      }
    }
  }
  &__text{
    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max){
      font-size: 1.25vw;
    }
  }
  &__text{
    &--light{
      color: lighten($navbar-inverse-bg, 53.5%);
    }
  }
  &__socialmedia{
    @media (min-width: $screen-sm-min){
      text-align: right;
    }
    .socialmedia__block{
      font-size: 30px;
      margin-top: 0;
      margin-bottom: 0;
      margin: 0px;
      @media (max-width: 576px){
        font-size: 20px;
      }
    }
    .socialmedia__link{
      @media (max-width: 576px){
        padding: 0 8px;
      }
      @media (min-width: 577px){
        padding: 1rem;
      }
    }
    .socialmedia__item{
      display: inline-block;
    }
  }
  &__copyright{
    clear: both;
    .text-secondary{
      display: block;
    }
    @media (max-width: $screen-xs-max){
      text-align: center;
      font-size: 90%;
    }
    @media (min-width: $screen-sm-min){
      text-align: right;
    }
  }
  &__powered-by{
    @media (min-width: $screen-md-min){
      text-align: right;
    }
  }
  &.navbar--brand{
    @include text-contrast($brand-primary);
    .footer__info{
      .footer__link, .footer__icon{
        color: inherit;
      }
      .footer__link:hover{
        color: inherit;
      }
    }
    .footer__phone .navbar__btn{
      @include text-contrast($brand-primary);
      border-color: inherit;
    }
    .brand-link, .brand-link:hover{
      color: inherit;
    }
    .footer__text--light{
        color: rgba(contrast_function($brand-primary), 0.85);
    }
    .footer__socialmedia{
      .socialmedia__link{
        @include text-contrast($brand-primary);
        &:hover,
        &:focus{
          color: rgba(contrast_function($brand-primary), 0.8);
        }
      }
    }
  }
  .logo-name{
    font-size: 28px;
  }
  .textwidget{
    margin: 0 10px;
  }
}
.after-footer{
  padding: 40px 0;
  color: lighten($navbar-inverse-bg, 28.5%);
  &__flex{
    display: flex;
    justify-content: center;
    align-items: center;
    .footer__brand{
      margin-left: 40px;
    }
  }
  @media (max-width: $screen-sm){
    &__flex{
      display: block;
      text-align: center;
    }
    .footer__brand{
      display: block;
      margin-left: 0px;
      margin-top: 15px;
    }
  }
}
.after-footer.dark{
  background: $gray-base;
}
.after-footer.white{
  background: #fff;
}
.after-footer.gray{
  background: #F7F7F7;
  .container{
    width: 100%;
    padding: 0px 40px;
    .row{
      margin: 0;
    }
    .after-footer__flex{
      display: block;
      .text-secondary{
        vertical-align: sub;
      }
      .footer__brand{
        float: right;
        margin: 0;
        .footer__brand-img{
          width: 29px;
        }
        .footer__sw{
          color: #000;
        }
        .footer__apps{
          color: #FF8400;
        }
      }
    }
  }
  @media (max-width: $screen-sm){
  .container{
    width: auto;
      .row{
        .after-footer__flex{
          text-align: center;
          .footer__brand{
            float: none;
            display: block;
            margin-top: 15px;
          }
        }
      }
    }
  }
}
.footer.navbar--light{
  .socialmedia__link{
    color: inherit;
  }
}