.footer{
  color: #5a5a5a;
  .row-centered{
    @media (min-width: $screen-sm-min){
      display: flex;
      align-items: center;
    }
  }
  &__logo{
    &__img{
      @media (max-width: 576px){
        width: 5rem;
      }
    }
  }
  &__info{
  }
  &__info &__text, &__info &__link, &__info &__icon{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
  }
  &__info &__icon{
    color: $brand-primary;
    margin-right: 5px;
  }
  &__info &__link{
    color: #fff;
    &:hover{
      color: #fff;
    }
  }
  &__text{
    &--light{
      color: #999;
    }
  }
  &__btn{
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
      padding: 3px 6px;
      span{
        display: none;
      }
    }
  }
  &__socialmedia{
    @media (min-width: $screen-sm-min){
      text-align: right;
    }
    .socialmedia_block{
      color: #bdbdbd;
      font-size: 30px;
      @media (max-width: 576px){
        font-size: 20px;
      }
    }
    .socialmedia__link{
      @media (max-width: 576px){
        padding: 0 8px;
      }
      @media (min-width: 577px){
        padding: 1.25rem;
      }
    }
    .socialmedia__item{
      display: inline-block;
    }
  }
  &__copyright{
    @media (max-width: $screen-xs-max){
      text-align: center;
      font-size: 90%;
    }
    @media (min-width: $screen-sm-min){
      text-align: right;
    }
  }
}