// Search form
.input--transparent{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $brand-primary;
  border-radius: 0;
  outline: none;
  //font-size: 1em;
  //font-family: "Playfair Display";
  //|color: #fff;
}
.form-control{
  padding: 6px 12px;
}
form.frm-show-form{
  .frm_form_field,
  .form-field{
    margin-left: 0px !important;
    float: none !important;
    display: block;
  }
  .frm_section_heading{
  }
  .frm_radio{
    &:first-child{
      margin-top: 5px;
    }
    input{
      width: 17px !important;
      height: 17px;
      vertical-align: sub !important;
    }
  }
  .frm_dropzone.dz-clickable.frm_single_upload{
    margin-top: 14px;
    border-style: solid;
    border-width: 1px;
    max-width: 100%;
    .frm_upload_text{
      color: #111;
    }
  }
  .border_radio{
    border-bottom: 1px solid #DDD;
    padding-bottom: 17px;
  }
}
.nf-field-container{
  .nf-field{
    .nf-field-label{
      color: $subtitle-color;
      font-size: 16px;
      line-height: 1.625;
      font-family: PlayfairDisplay;
    }
    .nf-field-element{
      input[type="text"],
      input[type="email"],
      input[type="number"],
      input[type="url"]{
        border: 1px solid #ddd;
        min-height: 38px;
      }
      input[type="button"]{
        @extend .btn;
        @extend .btn-primary-withoutborder;
        text-transform: uppercase;
      }
      textarea{
        min-height: 144px;
        border: 1px solid #ddd;
      }
    }
  }
}