.gallery{

  [class^="col-"] {
      padding: 1px;
  }
  .heading__title{
    padding-bottom: 20px;
  }
  &__description{
    padding: 25px 0px;
    p{
      font-size: 19px;
      margin-bottom: 0px;
    }
  }
  &__image {
    @media (max-width: $screen-sm-max){
      width: 100%;
    }
  }
  &__item{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .fa{
      display: none;
    }
  }
  &__item:after{
    content: "";
    background-color: transparent;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    transition: background-color 0.5s;
  }
  &__item:hover{
    .fa{
      display: inline;
      position: absolute;
      color: #fff;
      z-index: 1;
      font-size: 3em;
    }
  }
  &__item:hover:after{
    background-color: rgba(59, 61, 64, 0.5);
  }
}
