// Grid system
// The next code needs improvements for boostrap 3
// .main {
//   @include make-col-ready();
//   @include media-breakpoint-up(sm) {
//     @include make-col($main-sm-columns);
//     .sidebar-primary & {
//       @include make-col($main-sm-columns - $sidebar-sm-columns);
//     }
//   }
// }
// .sidebar {
//   @include make-col-ready();
//   @include media-breakpoint-up(sm) {
//     @include make-col($sidebar-sm-columns);
//   }
// }

.row-sm-centered{
  @media (min-width: $screen-sm-min){
    display: flex;
    align-items: center;
  }
}
.row-lg-centered{
  @media (min-width: $screen-lg-min){
    display: flex;
    align-items: center;
  }
}
.flex-align-right{
  margin-left: auto;
}
