.heading{
  margin-bottom: 75px;
  &__title{
    line-height: 42px;
    margin-bottom: 16px;
  }
  &__subtitle{
    color: $subtitle-color;
  }
  &__text{
    font-size: $font-size-h4;
    line-height: 23px;
  }
}
