.navbar-align-right{
  .header{
    &__right{
      padding: 15px 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo{
        &__img{
          max-height: 90px;
          height: auto;
        }
      }
      .menu{
        &__phones{
          float: left;
        }
        &__socialmedia{
          float: right;
          margin-right: 15px;
        }
        .phone{
          &__link{
            border-width: 2px;
            &:hover{
              .fa{
                color: $white-text;
              }
            }
          }
          &__icon{
            color: $brand-primary;
            font-size: 20px;
            margin-right: 5px;
            vertical-align: sub;
          }
          &__text{
            font-family: Montserrat,
            Helvetica Neue,
            Helvetica,Arial,sans-serif;
            font-size: 16px;
          }
        }
        .socialmedia{
          &__link{
            color: initial;
            &:hover{
              color: $brand-primary;
            }
          }
        }
        &__nav{
          .navbar-nav{
            .menu-item{
              border-top: 0px;
              a{
                padding-top: 6px;
                padding-bottom: 6px;
              }
            }
          }
        }
      }
    }
    &.navbar--dark{
      .header__right{
        .menu{
          .phone{
            &__text{
              color: $white-text;
            }
          }
          .socialmedia{
            &__link{
              color: $white-text;
              &:hover{
                color: $brand-primary;
              }
            }
          }
          &__nav{
            .navbar-nav{
              > .menu-item{
                > a{
                  color: $white-text;
                }
                &:hover{
                  > a{
                    color: $brand-primary;
                  }
                }
              }
              .active,
              .current-menu-item{
                a{
                  color: $brand-primary;
                }
              }
            }
          }
        }
      }
    }
    &.navbar-fixed.affix{
      top: 0;
      width: 100%;
      right: 0;
      left: 0;
      z-index: 99;
      position: fixed;
    }
    &.navbar-fixed{
      position: absolute;
      z-index: 99;
      width: 100%;
    }
  }
  @media (max-width: $screen-md){
    .header{
      &__right{
        .logo{
          &__img{
          }
        }
        .menu{
          &__phones{
          }
          &__socialmedia{
            display: none;
          }
          .phone{
            &__link{
            }
            &__icon{
            }
            &__text{
            }
          }
          &__nav{
            .navbar-nav{
              .menu-item{
              }
            }
          }
        }
      }
    }
  }
}
.admin-bar .navbar-align-right .navbar-fixed.affix {
  top:32px;
}