.header{
  .header_widget{
    .header__swbi{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .phone{
        &__text{
          font-family: Montserrat,
          Helvetica Neue,Helvetica,
          Arial,sans-serif;
          font-size: 16px;
        }
        &__icon{
          color: $brand-primary;
          font-size: 20px;
          margin-right: 5px;
        }
        &__link{
          border-width: 2px;
          &:hover{
            border-width: 1px;
            .fa{
              @include text-contrast($brand-primary);
            }
          }
        }
      }
      .navbar__menu{
        .navbar-nav{
          .menu-item{
            border-top: 0px;
            a{
              &:hover{
                background: none;
                color: $brand-primary;
              }
            }
            &.dropdown.open{
              > a.dropdown-toggle{
                background: none;
                color: $brand-primary;
              }
            }
          }
        }
      }
      .socialmedia{
        display: inline-block;
        &__block{
          margin: 0;
        }
        &__link{
          color: inherit;
          &:hover{
            color: $brand-primary;
            background: transparent;
          }
        }
        &__item{
          float: left;
        }
      }
      .navbar__toggle{
        display: inline-block;
        .navbar-toggle{
          margin: 0;
          margin-top: 2px;
          .icon-bar{
            background: $brand-primary;
          }
        }
      }
    }
    .header__sec{
      .navbar__menu{
        .navbar-nav{
          .menu-item{
            border-top: 0px;
            a{
              &:hover{
                background: none;
                color: $brand-primary;
              }
            }
            &.dropdown.open{
              > a.dropdown-toggle{
                background: none;
                color: $brand-primary;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: $screen-md) {
    .header_widget{
      .header__swbi{
        padding: 15px 0px;
      }
    }
  }
}