.highlight-item{
  @media (max-width: $screen-sm-max) {
    & + &{
      margin-top: 1em;
    }
  }
  &__image{
    max-width: 60%;
  }
  &__caption{
    @media (max-width: $screen-xs-max){
      margin-top: 20px;
      font-size: 1em;
    }
    @media (min-width: $screen-sm-min){
      margin-top: 30px;
      font-size: 1.2em;
    }
  }
}
.highlights{
  &.row{
    @media (min-width: $screen-md-min){
      display: flex;
      flex-wrap: wrap;
    }
  }
  .owl-nav{
    top: 40%;
    transform: translateY(-40%);
  }
}
