.home-section{
  @media (max-width: $screen-xs-max){
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media (min-width: $screen-sm-min){
    padding-top: 50px;
    .heading{
      margin-bottom: 50px;
    }
  }
  &:first-child{
    padding-top: 100px;
    padding-bottom: 0px;
  }
}
section.home-sention{
  &:first-of-type{
    padding-top: 100px;
  }
}