.icons{
  &__item{
    color: $brand-primary;
  }
  &__icon{
    .fa{
      font-size: 4em;
    }
  }
  &__icon--large{
    .fa{
      font-size: 11em;
    }
  }
  &__title{
    font-weight: 500;
  }
  &__text{
    font-size: ($font-size-h4 - 2);
    font-family: $paragraphs-secondary-font-family;
    font-weight: $paragraphs-secondary-font-weight;
    // font-size: ($font-size-h4 - 3);
    // font-weight: 300;
    // line-height: 1.2;
    // text-align: center;
    // margin-top: 28px;
  }
  @media (max-width: $screen-sm) {
    padding-bottom: 20px;
    padding-top: 37px;
    padding-right: 8px;
    padding-left: 8px;
    &__title{
      font-size: ($font-size-h4 - 2);
    }
    &__content{
      margin-bottom: 12px;
    }
    .heading{
      &__subtitle{
        margin-bottom: 40px;
      }
    }
  }
  @media (max-width: $screen-xs){
    &__title{
      font-size: ($font-size-h4 - 3);
    }
    &__text{
      font-size: $font-size-base;
    }
  }
}
