.information{
  &__text{
    font-family: inherit;
    font-weight: 200;
  }
  &__block{
    margin-bottom: 34px;
    &:last-child{
      margin-bottom: 0px;
    }
  }
  @media (max-width: $screen-sm){
    margin-bottom: 57px;
  }
}