.grid-sizer,
.grid-item {
  width: 33.33333333%;
  padding: 10px;
  &:last-child{
    top: auto !important;
    bottom: 0;
  }
}
.gutter-sizer { width: 0%; }
@media (max-width: $screen-md) {
  .grid-sizer,
  .grid-item {
    width: 50%;

  }
}
@media (max-width: $screen-sm) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
}
