/* .grid { Masonry container
  column-count: 3;
  margin: 1em 0;
  padding: 0;
  column-gap: 0em;
  font-size: .85em;
  transition: all .5s ease-in-out;
  .grid-item { Masonry bricks or child elements
    margin: 0.5em;
    width: auto;
    box-sizing: border-box;
    img {
      transition: all .5s ease-in-out;
    }
  }
}
@media (max-width: $screen-sm) {
  .grid {
    column-count: 2;
  }
}
@media (max-width: $screen-xs) {
  .grid {
    column-count: 1;
  }
} */
/* fluid 4 columns, 4% gutter */
.grid-sizer,
.grid-item { 
  width: 33.33333333%;
  padding: 10px;
}
.gutter-sizer { width: 0%; }
@media (max-width: $screen-md) {
  .grid-sizer,
  .grid-item { 
    width: 50%;
  }
}
@media (max-width: $screen-sm) {
  .grid-sizer,
  .grid-item { 
    width: 100%;
  }
}