.navbar--transparent{
  @extend .navbar-default;
  background: -webkit-linear-gradient(rgba(#000, .7), transparent);
  background: -o-linear-gradient(rgba(#000, .7), transparent);
  background: linear-gradient(rgba(#000, .7), transparent);

  .navbar__socialmedia{
    .socialmedia__item{
      .socialmedia__link{
        color: $social-media-color;
        &:hover,
        &:focus{
          color: $navbar-default-link-color;
        }
      }
    }
  }
}
.navbar--light .navbar-nav .open .dropdown-menu>li>a{
  color: $gray-dark;
}
.navbar--light{
  background: rgba(#FFF, 0.9);
  @extend .navbar-default;
  .icon-bar{
    background-color: #000 !important;
  }
  .navbar__menu{
    .menu-item{
      a{
        color: $gray-dark;
        &:hover,
        &:focus{
          color: contrast_function($navbar-default-link-color);
        }
      }
    }
    .menu-item.active{
      a{
        background-color: transparent;
        color: darken( $navbar-default-link-color, 60% );
      }
    }
  }
  .navbar__btn{
    color: inherit;
    &:hover,
    &:focus{
      @extend .btn-primary-outline:hover;
    }
  }
  .navbar__socialmedia{
    .socialmedia__item{
      .socialmedia__link{
        color: inherit;
        &:hover,
        &:focus{
          color: $brand-primary;
        }
      }
    }
  }
}
.navbar--dark{
  background: rgba(#000, 0.85);
  @extend .navbar-default;
  .navbar__menu{
    .active {
      color: $brand-primary;
    }
    .menu-item{
      a{
        &:hover,
        &:focus{
          color: $brand-primary;
        }
      }
    }
  }
  .navbar__btn{
    &:hover,
    &:focus{
      @extend .btn-primary-outline:hover;
    }
  }
  .navbar__socialmedia{
    .socialmedia__item{
      .socialmedia__link{
        color: $social-media-color;
        &:hover,
        &:focus{
          color: $navbar-default-link-color;
        }
      }
    }
  }
}
.navbar--brand{
  @extend .navbar-default;
  background: $brand-primary;
}
.navbar{
  padding: 10px 0;
  border-left:0;
  border-right: 0px;
  border-bottom: 0px;
  border-top: $navbar-top-border solid;
  border-color: $brand-primary;
  margin-bottom: 0px;
  &__menu{
    .menu-item:hover{
      cursor: pointer;
    }
    .menu-item.active{
      a{
        border-radius: $btn-border-radius-base;
      }
    }
  }
  &__logo{
    @media (min-width: $grid-float-breakpoint){
    }
    img{
      max-height: 45px;
      height: auto;
    }
    a{
      &:hover{
        text-decoration: none;
      }
    }
    .logo-name{
      @media (min-width: $screen-lg){
        font-size: 30px;
      }
      @media (max-width: $screen-md-max){
        font-size: 20px;
        margin-top: 10px;
      }
      @media (max-width: $screen-sm){
        margin-top: 8px;
      }
    }
  }
  &__btn{
    font-size: $font-size-base;
    border-width: ($navbar-top-border - 1);
    color: $navbar-default-link-color;
    &--compact{
      margin-right: 15px;
      @media (min-width: $screen-lg-min){
        order: 2;
      }
    }
    .fa{
      vertical-align: middle;
      font-size: $font-size-h3;
    }
    &:hover,
    &:focus{
      .fa{
        color: inherit;
      }
    }
  }
  &__phone{
    vertical-align: middle;
  }
  .socialmedia{
    @media (min-width: $screen-lg-min) {
      order: 3;
    }
  }
  @media (max-width: $grid-float-breakpoint-max) {
    &__logo{
      float: left;
    }
    &__toggle{
      float: right;
      margin-top: 0px;
      button{
        border-color: transparent !important;
        margin-top: 5px;
        margin-bottom: 0px;
        .icon-bar{
          background-color: $navbar-default-link-color;
        }
      }
    }
    &__menu{
      clear: both;
      .menu-item.active{
        a{
          border-radius: 0px;
        }
      }
    }
    &__btn{
      &--compact{
        float: right;
        margin-right: 30px;
        margin-top: 5px;
        padding: 3px 6px;
        span{
          display: none;
        }
      }
    }
    &__socialmedia{
      clear: both;
      display: none;
    }
  }
}

.autocollapse-class.collapsed{
  .row-lg-centered{
    display: block;
  }
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse.collapse{
    display: none!important;
  }
  .navbar-collapse.collapse.in{
    display: block !important;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar__toggle{
    float: right;
    margin-top: 0px;
    button{
      border-color: transparent !important;
      margin-top: 5px;
      margin-bottom: 0px;
      .icon-bar{
        background-color: $navbar-default-link-color;
      }
    }
  }
  .navbar__menu{
    clear: both;
    width: 100%;
    .menu-item.active{
      a{
        border-radius: 0px;
      }
    }
  }
  .navbar__btn{
    &--compact{
      float: right;
      margin-right: 30px;
      margin-top: 5px;
      padding: 3px 6px;
      span{
        display: none;
      }
    }
  }
  .navbar__socialmedia{
    clear: both;
    display: none;
  }
}
/* ======= STYLES FOR SECONDARY NAVBAR ======= */
.navbar-secondary{
  position: fixed;
  width: 100%;
  top: 0px;
  transition: all .5s ease-in-out;
  .menu-secundario.navbar-center{
    width: 100%;
    float: none;
    text-align: center;
    .menu-item{
      display: inline-block;
      float: none;
    }
  }
}
.navbar-secondary.navbar--light{
  a{
    color: $gray-dark;
    &:hover,
    &:focus{
      color: $brand-primary;
    }
  }
}
.navbar-secondary.fx{
  top: 73px;
  padding: 0px;
}
.admin-bar{
  .navbar-secondary.fx{
    top: 100px;
  }
  .navbar-secondary{
    top: 32px;
  }
}
.navbar-secondary.not-vivible{
  opacity: 0;
  visibility: hidden;
  z-index: 0;
}
.navbar-secondary.vivible{
  opacity: 1;
  visibility: visible;
  z-index: 999;
}
.menu-secundario{
  .menu-item{
    text-transform: uppercase;
  }
  @media (max-width: $screen-md) {
    width: 100%;
    float: none !important;
  }
}
/* ======= STYLES FOR SECONDARY NAVBAR ======= */
/* ======= STYLES FOR DROPDOWN ======= */
.navbar__menu:not(.in){
  .dropdown{
    li{
      a{
        &:hover{
          background: transparent;
          color: $brand-primary;
        }
      }
    }
  }
  li.dropdown-submenu{
    position: relative;
    ul.dropdown-menu{
      top: 0;
      right: 100%;
      float: none;
      left: auto;
    }
    &.open{
      a.dropdown-toggle{
        background: transparent;
        color: $brand-primary;
      }
    }
  }
}
.nav.navbar-nav{
  li.dropdown-submenu{
    a.dropdown-toggle{
      &::after{
        content: '';
        margin-left: 7px;
        @extend .caret;
      }
    }
  }
  .current-menu-ancestor.current-menu-parent,
  .current-menu-ancestor{
    > a{
      color: $brand-primary !important;
    }
    li.active{
      a{
        background: transparent;
        color: $brand-primary;
      }
    }
  }
}
/* Logo name color */
.logo-name{
  .navbar--dark &, .navbar--transparent &{
    color: $white-text;
  }
  .navbar--light &{
    color: $gray-dark;
  }
}
/* ======= STYLES FOR DROPDOWN ======= */
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
} 
.navbar__btn--compact[href^="tel"]{
  @media (max-width: $screen-xs-max), (min-width: $screen-md-min){
    margin-right: 10px;
  }
}
