.navbar{
  padding: 10px 0;
  border-left:0;
  border-right: 0px;
  border-bottom: 0px;
  border-top: $navbar-top-border solid;
  border-color: $brand-primary;
  &__menu{
    margin-top: 13px;
  }
  &__btn{
    margin-right: 15px;
    margin-top: 18px;
    border-width: ($navbar-top-border - 1);
    i{
      color: $brand-primary;
      vertical-align: middle;
    }
    &:hover,
    &:focus{
      i{
        color: inherit;
      }
    }
  }
  @media (max-width: $grid-float-breakpoint) {
    &__logo{
      float: left;
    }
    &__toggle{
      float: right;
      margin-top: 11px;
    }
    &__menu{
      clear: both;
    }
    &__btn{
      float: right;
      margin-right: 40px;
      span{
        display: none;
      }
    }
  }
}
