.navbar{
  padding: 10px 0;
  border-left:0;
  border-right: 0px;
  border-bottom: 0px;
  border-top: $navbar-top-border solid;
  border-color: $brand-primary;
  margin-bottom: 0px;
  &__menu{
    margin-top: 11px;
  }
  &__btn{
    margin-right: 15px;
    margin-top: 11px;
    border-width: ($navbar-top-border - 1);
    .fa{
      color: $brand-primary;
      vertical-align: middle;
      font-size: $font-size-h3;
    }
    &:hover,
    &:focus{
      .fa{
        color: inherit;
      }
    }
  }
  .socialmedia{
    &__block{
      margin-top: 20px;
    }
  }
  @media (max-width: $grid-float-breakpoint) {
    &__logo{
      float: left;
      img{
        width: 65px;
      }
    }
    &__toggle{
      float: right;
      margin-top: 0px;
      button{
        border-color: transparent !important;
        margin-top: 5px;
        margin-bottom: 0px;
      }
    }
    &__menu{
      clear: both;
    }
    &__btn{
      float: right;
      margin-right: 30px;
      margin-top: 5px;
      padding: 3px 6px;
      span{
        display: none;
      }
    }
    &__socialmedia{
      clear: both;
      display: none;
    }
  }
}
