.owl-carousel{
  position: relative;
  &.fixed-size{
    .owl-item{
      background: #000;
      .item{
        img{
          min-width: 0;
          min-height: 0;
          width: auto;
          height: auto;
        }
      }
    }
  }
  .item{
    .caption{
      background-color: rgba(0,0,0,.5);
      color: #fff;
      position: absolute;
      @media (min-width: $screen-sm-min){
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        padding: 50px 30px;
      }
      @media (max-width: $screen-xs-max){
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translateX(-50%, -50%);
        text-align: center;
        padding: 2rem;
      }
    }
    // Videos
    .video__player{
      &, .plyr{
        height: 100%;
      }
    }
    .btn-ecommerce{
      background:#000;
      border-radius: 0px;
      color: #fff;
      font-size: 15px;
      padding-left: 35px;
      padding-bottom: 0px;
      padding-right: 35px;
      padding-top: 0;
      transition: all .5s ease-in-out;
      &:before{
        transition: all .5s ease-in-out;
        font-family: Fontawesome;
        content: "\f07a";
        background-color: $brand-primary;
        font-size: 28px;
        margin: 0 10px 0 -36px;
        padding: 7px;
      }
      span{
        vertical-align: super;
        padding-left: 17px;
      }
      &:hover,
      &:focus{
        background: $brand-primary;
        color: #fff;
        &:before{
          background-color: #000;
        }
      }
    }
  }
  .owl-nav{
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    .owl-prev, .owl-next{
      position: relative;
      padding: 0;
      padding-bottom: 3px;
      opacity: 0.5;
      border-radius: 50%;
      transition: all .4s ease-in-out;
      background: transparent;
      &:hover{
        background-color: rgba(180,180,180,0.4);
        opacity: 1;
      }
      i.fa{
        color: #fff;
        @media (max-width: $screen-xs-max) {
          font-size: 35px;
        }
        @media (min-width: $screen-sm-min) {
          font-size: 65px;
          padding: 0;
        }
      }
      img{
        @media (max-width: $screen-xs-max) {
          width: 20px;
        }
        @media (min-width: $screen-sm-min) {
          width: 40px;
        }
      }
    }
    .owl-prev{
      float: left;
      left: $slider-nav-position;
      padding-left: 16px;
      padding-right: 22px;
      padding-top: 6px;
      padding-bottom: 6px;
      @media (max-width: $screen-xs-max) {
        padding-left: 8px;
        padding-right: 13px;
        padding-top: 4px;
        padding-bottom: 4px;
      }
    }
    .owl-next{
      float: right;
      right: $slider-nav-position;
      padding-right: 16px;
      padding-left: 22px;
      padding-top: 6px;
      padding-bottom: 6px;
      @media (max-width: $screen-xs-max) {
        padding-left: 13px;
        padding-right: 8px;
        padding-top: 4px;
        padding-bottom: 4px;
      }
    }
  }
  .owl-dots{
    text-align: center;
    position: absolute;
    bottom: 4%;
    width: 100%;
    .owl-dot{
      display: inline-block;
      span{
        border: 2px solid #fff;
        width: $slider-dot-size;
        height: $slider-dot-size;
        margin: 5px 7px;
        display: block;
        -webkit-backface-visibility: visible;
        -webkit-transition: opacity .2s ease;
        transition: opacity .2s ease;
        border-radius: 30px;
      }
      &.active span{
        background: $brand-primary;
      }
    }
  }
  .plyr__video-embed {
    height: 100%;
  }
}


.sliders{
  &-main{
    .owl-carousel{
      .item{
        @include responsive-slide(100vh);
      }
    }
  }
  &-secondary{
    padding-top: 12rem;
    padding-bottom: 12rem;

    .owl-dots{
      display: none;
    }

    .owl-nav{
      width: 100%;
    }

    .owl-stage{
      display: flex;
      align-items: center;
    }

    text-align: center;
    @media (max-width: $screen-md-min) {
      text-align: left;
    }
    .sliders__title{
      text-transform: uppercase;
      font-weight: bold;
      font-size: $font-size-large;
      margin-bottom: 5rem;
      letter-spacing: 2px;
    }
    .sliders__text{
      font-size: $font-size-large * 1.6;
      text-align: center;
      line-height: 1.4;
      @media (max-width: $screen-md-min) {
        text-align: left;
      }
    }
    .sliders__divider{
      hr{
        $divider-color: lighten($brand-primary, 15%);
        $divider-color: desaturate($divider-color, 50%);
        border-color: $divider-color;
        margin-top: 25px;
        margin-bottom: 25px;
      }
    }
    .sliders__footer{
      p{
        &:first-child{
          letter-spacing: 2px;
          text-transform: uppercase;
          font-family: $paragraphs-font-family;
          font-weight: 400;
          margin-bottom: 15px;
        }
        &:nth-child(n+2){
          margin-bottom: 0;
          opacity: 0.7;
        }
      }
    }
  }
}
.bxslider{
  &__item{
    overflow: hidden;
  }
  &__img{
    @media (max-width: $screen-sm-max){
      max-width: 125% !important;
      width: 125% !important;
    }
    @media (max-width: $screen-xs-max){
      max-width: 150% !important;
      width: 150% !important;
    }
    height: auto !important;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    min-width: 100%;
  }
}
.bx-wrapper{
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}
.bx-wrapper .bx-controls-direction a{
  text-indent: 0;
  transition: color 0.2s;
  &, &:focus{
    color: #fff;
  }
  &:hover{
    color: $brand-primary;
  }
}
