.socialmedia{
  &__block{
    font-size: ($font-size-large + 2);
    .socialmedia__item{
      .socialmedia__link{
        padding: 5px 10px;
        .fa{
          vertical-align: middle;
        }
      }
    }
  }
}
