.socialmedia{
  &_block{
    margin-top: 20px;
    font-size: ($font-size-large + 2);
    .socialmedia__item{
      .socialmedia__link{
        padding: 5px 10px;
        .fa{
          vertical-align: middle;
        }
      }
    }
  }
  @media (max-width: $grid-float-breakpoint) {
    clear: both;
    display: none;
  }
}
