.subscribes{
  background: url(../../assets/images/background-subscribe.png);
  @include responsive-bg;
  min-height: 460px;
  padding-top: 100px;
  color: $subscribe-text-color;
  &__input{
    border: 0px;
    border-radius: $btn-border-radius-base;
    color: $input-color;
    display: inline-block;
    margin-right: 25px;
    padding: $padding-base-vertical 15px;
    width: 40%;
  }
  .heading{
    &__subtitle{
      color: #fff;
      opacity: 0.7;
    }
  }
  @media (max-width: $screen-sm){
    min-height: auto;
    padding-top: 55px;
    .heading{
      &__subtitle{
        margin-bottom: 50px;
      }
    }
    &__input{
      display: block;
      margin: 0 auto;
      margin-bottom: 10px;
      width: 80%;
    }
    &__btn{
      margin-bottom: 45px;
    }
  }
}

