.swbi{
  margin-top: 1em;
  .socialmedia{
    margin-top: 2em;
    .socialmedia__block{
      float: none !important;
    }
    .socialmedia__item:first-child .socialmedia__link{
      padding-left: 0;
    }
  }
}
.textitem{
  display: block;
  .footer.navbar--dark &{
    @include text-contrast($footer-color-dark);
  }
  .footer.navbar--light &{
    @include text-contrast($footer-color-light);
  }
  .footer.navbar--brand &{
    @include text-contrast($brand-primary);
  }
  & + &{
    margin-top: 1em;
  }
  &__icon, &__link, &__text{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
  }
  &__icon{
    color: $brand-primary;
    width: 45px;
    .footer.navbar--brand &{
      @include text-contrast($brand-primary);
    }
  }
  &__text{
    font-size: 16px;
  }
  &__link{
    color: inherit;
    &:hover{
      text-decoration: none;
    }
  }
  &__link:hover &__text{
    text-decoration: underline;
  }
}
