.two-lines{
  background: $body-other-bg;
  &__block{
    margin-bottom: 60px;
  }
  &__text{
    font-weight: 400;
    font-size: $font-size-h4;
  }
  &__btn{
    letter-spacing: 2px;
    font-size: ($font-size-h4 - 2);
  }
}