// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Media alignment
/* .alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}
.aligncenter {
  display: block;
  margin: ($spacer / 2) auto;
  height: auto;
}
.alignleft,
.alignright {
  margin-bottom: ($spacer / 2);
  height: auto;
}
@include media-breakpoint-up(sm) {
  // Only float if not on an extra small device
  .alignleft {
    float: left;
    margin-right: ($spacer / 2);
  }
  .alignright {
    float: right;
    margin-left: ($spacer / 2);
  }
}

// Captions
.wp-caption {
  @extend .figure-img;
  @extend .img-fluid;
}
.wp-caption-text {
  @extend .figure-caption;
}

// Text meant only for screen readers
.screen-reader-text {
  @extend .sr-only;
  @extend .sr-only-focusable;
} */
/* Wordpres class */
img.alignright{
  float:right;
  margin:0 0 1em 1em;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
img.alignleft{
  float:left;
  margin:0 1em 1em 0;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
img.aligncenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
img.alignnone{
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
a img.alignnone{
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
a img.alignright{
  float:right;
  margin:0 0 1em 1em;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
a img.alignleft{
  float:left;
  margin:0 1em 1em 0;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
a img.aligncenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
img.imgborder{
  margin: 5px;
  padding: 10px;
  border: solid black 1px;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
img.imgdoubleborder{
  margin: 20px;
  padding: 10px;
  border: double black 1px;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
img.nature {
  margin: 20px;
  padding: 20px;
  border:solid black 4px;
  background: $brand-primary;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.entry-author{
  .author{
    img.avatar{
      max-width: 250px;
      width: 100%;
      border-radius: 50%;
    }
  }
}
/* Wordpres class */