@mixin responsive-slide($height) {
  height: $height;
  position: relative;
  overflow: hidden;
  img{
    width: auto;
    height: auto;
    min-height: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
